<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ESEP Test Suite">
    <test name="ESEP Tests">
        <classes>
            <class name="tests.AuthTests"/>
            <class name="tests.ReportCreationTest"/>
            <class name="tests.SearchTests"/>
        </classes>
    </test>
</suite>
